.page-container .content-container section {}
.page-container .content-container .about-us { margin-bottom: 120px; display: grid; grid-column-gap: 140px; grid-template-columns: 1fr 1fr; }
.page-container .content-container .about-us .about-us-info h2 { color: #00ADEE; font-size: 44px; font-family: 'Hacen Tunisia'; font-weight: bold; text-align: left; margin-bottom: 14px; }
.page-container .content-container .about-us .about-us-info p { font-family: 'Hacen Tunisia Lt'; color: #535252; font-size: 20px; text-align: left; font-weight: 400; margin-bottom: 20px; }
.page-container .content-container .about-us .about-us-info p:last-of-type { margin-bottom: 0 }
.page-container .content-container .about-us .images { position: relative; direction: rtl }
.page-container .content-container .about-us .images .primary-img { box-shadow: 0 2px 10px rgba(0, 0, 0, .25); border-radius: 18px; overflow: hidden; width: 80%; height: auto }
.page-container .content-container .about-us .images .primary-img img { width: 100%; height: inherit }
.page-container .content-container .about-us .images .secondary-img { position: absolute; bottom: -40px; left: 0; box-shadow: 0 2px 10px rgba(0, 0, 0, .16); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 250px; width: 250px; background: #F8F8F8; border-radius: 18px; }
body.rtl .page-container .content-container .about-us { direction: rtl }
body.rtl .page-container .content-container .about-us .about-us-info h2 { text-align: right; }
body.rtl .page-container .content-container .about-us .about-us-info p { text-align: right; }
body.rtl .page-container .content-container .about-us .images { direction: ltr }
body.rtl .page-container .content-container .about-us .images .secondary-img { right: 0; left: unset }

.page-container .content-container .vision-mission { display: grid; grid-template-columns: 1fr 10fr 1fr 10fr 1fr; }
.page-container .content-container .vision-mission .item { padding: 50px; box-shadow: 0 0 10px rgba(0, 0, 0, .1); border-radius: 50px; }
.page-container .content-container .vision-mission .item .title-icon { display: flex; align-items: center; flex-direction: row; margin-bottom: 26px; }
.page-container .content-container .vision-mission .item .title-icon .icon-container { height: 90px; width: 90px; background: #F5F5F5; border-radius: 100px; overflow: hidden; display: flex; justify-content: center; align-items: center; margin-right: 18px; }
.page-container .content-container .vision-mission .item .title-icon .icon-container img { width: 46%; height: auto; }
.page-container .content-container .vision-mission .item .title-icon h3 { color: #00ADEE; font-size: 32px; font-family: 'Hacen Tunisia'; font-weight: bold; text-align: left; }
.page-container .content-container .vision-mission .item .item-content p { font-family: 'Hacen Tunisia Lt'; color: #535252; font-size: 20px; text-align: left; font-weight: 400; }
body.rtl .page-container .content-container .vision-mission .item .title-icon { flex-direction: row-reverse }
body.rtl .page-container .content-container .vision-mission .item .title-icon .icon-container { margin-left: 18px; margin-right: 0 }
body.rtl .page-container .content-container .vision-mission .item .title-icon h3 { text-align: right }
body.rtl .page-container .content-container .vision-mission .item .item-content p { text-align: right; }

.page-container .content-container .team-members { margin-bottom: 34px; }
.page-container .content-container .team-members .section-content .members { display: grid; grid-column-gap: 46px; grid-template-columns: 1fr 1fr 1fr; }
.page-container .content-container .team-members .section-content .members .item { cursor: pointer }
.page-container .content-container .team-members .section-content .members .item .thumbnail-outer-container { position: relative; height: 400px; overflow: hidden; border-radius: 16px; z-index: 1; }
.page-container .content-container .team-members .section-content .members .item .thumbnail-outer-container .thumbnail-inner-container { background: #F5F5F5; background-position: center center; background-size: cover; background-repeat: no-repeat; transition: all .3s ease-in-out; transform: scale(1.1); width: 100%; height: 100%; overflow: hidden; }
.page-container .content-container .team-members .section-content .members .item .thumbnail-outer-container .overlay { transition: all .3s ease-in-out; opacity: 0; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: linear-gradient(180deg, rgba(101, 209, 219, .28), rgba(0, 173, 238, .77)) }
.page-container .content-container .team-members .section-content .members .item:hover .thumbnail-outer-container .overlay { opacity: 1 }
.page-container .content-container .team-members .section-content .members .item:hover .thumbnail-outer-container .thumbnail-inner-container { transform: scale(1); }
.page-container .content-container .team-members .section-content .members .item .item-info { padding: 20px; width: 80%; background: #FFF; border-radius: 16px; position: relative; transform: translateY(-46px); z-index: 99; box-shadow: 0 0 10px rgba(0, 0, 0, .1); margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.page-container .content-container .team-members .section-content .members .item .item-info h6 { color: #22203A; font-size: 25px; font-family: 'Hacen Tunisia'; font-weight: bold; text-align: center; }
.page-container .content-container .team-members .section-content .members .item .item-info span { color: #00ADEE; font-size: 15px; font-family: 'Hacen Tunisia Lt'; font-weight: 200; text-align: center; }
.page-container .content-container .team-members .section-content .members .item .item-info span.email, .page-container .content-container .team-members .section-content .members .item .item-info span.number { color: #888; font-size: 16px; }

.page-container .content-container .privacy-policy .section-content .terms { display: grid; grid-column-gap: 46px; grid-row-gap: 46px; grid-template-columns: 1fr 1fr; }
.page-container .content-container .privacy-policy .section-content .terms .item .icon { margin-bottom: 4px; float: left; background: #00ADEE; height: 60px; width: 60px; border-radius: 100px; display: flex; justify-content: center; align-items: center; margin-right: 30px; }
.page-container .content-container .privacy-policy .section-content .terms .item .icon i { color: #FFF; font-size: 24px; }
.page-container .content-container .privacy-policy .section-content .terms .item p { font-family: 'Hacen Tunisia Lt'; color: #535252; font-size: 20px; text-align: left; font-weight: 200; }
body.rtl .page-container .content-container .privacy-policy .section-content .terms { direction: rtl }
body.rtl .page-container .content-container .privacy-policy .section-content .terms .item .icon { float: right; margin-left: 30px; margin-right: 0 }
body.rtl .page-container .content-container .privacy-policy .section-content .terms .item p { text-align: right; }

.page-container .content-container .frequently-questions .section-content .questions-image { display: grid; grid-column-gap: 30px; grid-template-columns: 4fr 5fr; }
.page-container .content-container .frequently-questions .section-content .questions-image .image { box-shadow: 0 2px 10px rgba(0, 0, 0, .25); border-radius: 18px; overflow: hidden; width: 100%; height: auto }
.page-container .content-container .frequently-questions .section-content .questions-image .image img { height: inherit; width: inherit }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item { height:auto; overflow:hidden; background: #EFEEEE; margin-bottom: 20px; border-radius: 14px; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-title { background: #F5F5F5; border-radius: 14px; cursor: pointer; display: flex; justify-content: space-between; padding: 18px 24px; align-items: center; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-title h6 { font-family: 'Hacen Tunisia'; color: #535252; font-size: 20px; text-align: left; font-weight: 200; margin-right: 20px; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-title .icon-container { transition: all.3s ease-in-out; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-title .icon-container.active { transform: rotate(45deg) }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-title .icon-container i { color: #00ADEE; font-size: 24px; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-description { overflow: hidden; padding: 0px 24px; padding-bottom: 0; transition: all.3s ease-in-out; max-height: 0; transform: scaleY(0); transform-origin: top; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-description.active { transform: scaleY(1); max-height: 2000px; padding: 18px 24px; padding-bottom: 30px; }
.page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-description p { font-family: 'Hacen Tunisia Lt'; color: #535252; font-size: 18px; text-align: left; font-weight: 200; }
body.rtl .page-container .content-container .frequently-questions .section-content .questions-image { direction: rtl }
body.rtl .page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-title h6 { text-align: right; margin-left: 20px; margin-right: 0 }
body.rtl .page-container .content-container .frequently-questions .section-content .questions-image .questions .item .item-description p { text-align: right; }

.page-container .map { margin-bottom: 0 }


/*
    ============
     Responsive
    ============
*/
@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
    .page-container .content-container .about-us { grid-column-gap: 70px; }
    .page-container .content-container .about-us .about-us-info h2 { font-size: 36px; }
    .page-container .content-container .about-us .about-us-info p { font-size: 18px; }
    .page-container .content-container .about-us .images .primary-img { width: 84% }
    .page-container .content-container .about-us .images .secondary-img { height: 200px; width: 200px }

    .page-container .content-container .vision-mission { grid-template-columns: .7fr 10fr .7fr 10fr .7fr; }
    .page-container .content-container .vision-mission .item { padding: 40px; }
    .page-container .content-container .vision-mission .item .title-icon .icon-container { height: 75px; width: 75px; }
    .page-container .content-container .vision-mission .item .title-icon h3 { font-size: 29px; }
    .page-container .content-container .vision-mission .item .item-content p { font-size: 18px; }

    .page-container .content-container .team-members .section-content .members { grid-column-gap: 36px; }
    .page-container .content-container .team-members .section-content .members .item .thumbnail-outer-container { height: 300px; }
    .page-container .content-container .team-members .section-content .members .item .item-info h6 { font-size: 23px; }
    .page-container .content-container .team-members .section-content .members .item .item-info span { font-size: 13px; }

    .page-container .content-container .privacy-policy .section-content .terms .item .icon { height: 53px; width: 53px; }
    .page-container .content-container .privacy-policy .section-content .terms .item .icon i { font-size: 22px; }
    .page-container .content-container .privacy-policy .section-content .terms .item p { font-size: 19px; }
}

@media (max-width: 768px) {
    .page-container .content-container .about-us { grid-template-columns: 1fr; margin-bottom: 120px; }
    .page-container .content-container .about-us .about-us-info { margin-bottom: 30px }
    .page-container .content-container .about-us .about-us-info h2 { font-size: 32px; }
    .page-container .content-container .about-us .about-us-info p { font-size: 16px; }
    .page-container .content-container .about-us .images .primary-img { width: 100% }
    .page-container .content-container .about-us .images .secondary-img { height: 180px; width: 180px; left: unset!important; right: 50%!important; bottom: 0; transform: translate(50%, 50%); }

    .page-container .content-container .vision-mission { grid-template-columns: 1fr; grid-row-gap: 30px; }
    .page-container .content-container .vision-mission .item { padding: 30px; }
    .page-container .content-container .vision-mission .item .title-icon .icon-container { height: 62px; width: 62px; }
    .page-container .content-container .vision-mission .item .title-icon h3 { font-size: 27px; }
    .page-container .content-container .vision-mission .item .item-content p { font-size: 17px; }

    .page-container .content-container .team-members .section-content .members { grid-template-columns: 1fr 1fr; }
    .page-container .content-container .team-members .section-content .members .item .item-info h6 { font-size: 21px; }
    .page-container .content-container .team-members .section-content .members .item .item-info span { font-size: 13px; }

    .page-container .content-container .privacy-policy .section-content .terms { grid-column-gap: 38px; grid-row-gap: 38px; }
    .page-container .content-container .privacy-policy .section-content .terms .item .icon { height: 45px; width: 45px; }
    .page-container .content-container .privacy-policy .section-content .terms .item .icon i { font-size: 19px; }
    .page-container .content-container .privacy-policy .section-content .terms .item p { font-size: 18px; }
}

@media ( orientation: portrait ) {
}

@media (max-width: 500px) {
    .page-container .content-container .about-us .about-us-info { margin-bottom: 26px }
    .page-container .content-container .about-us .about-us-info h2 { font-size: 28px; }
    .page-container .content-container .about-us .about-us-info p { font-size: 15px; }
    .page-container .content-container .about-us .images .secondary-img { height: 160px; width: 160px }

    .page-container .content-container .vision-mission { grid-row-gap: 20px; }

    .page-container .content-container .team-members .section-content .members { grid-template-columns: 1fr; }
    .page-container .content-container .team-members .section-content .members .item .item-info h6 { font-size: 21px; }
    .page-container .content-container .team-members .section-content .members .item .item-info span { font-size: 13px; }

    .page-container .content-container .privacy-policy .section-content .terms { grid-column-gap: 38px; grid-row-gap: 38px; grid-template-columns: 1fr; }
    .page-container .content-container .privacy-policy .section-content .terms .item .icon { height: 38px; width: 38px; }
    .page-container .content-container .privacy-policy .section-content .terms .item .icon i { font-size: 18px; }
    .page-container .content-container .privacy-policy .section-content .terms .item p { font-size: 17px; }
}