/*
================
    Fonts
================
*/
@font-face {
    font-family: 'Hacen Tunisia';
    font-style: normal;
    font-weight: 200;
    src: local('Hacen Tunisia Regular'), url('../fonts/hacen-tunisia-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hacen Tunisia';
    font-style: normal;
    font-weight: bold;
    src: local('Hacen Tunisia'), url('../fonts/hacen-tunisia-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hacen Tunisia Lt';
    font-style: normal;
    font-weight: normal;
    src: local('Hacen Tunisia Lt'), url('../fonts/hacen-tunisia-lt-regular.ttf') format('truetype');
}


/*
==================
    Global Style
==================
*/
body { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6, p, span { margin: 0 }
ul { list-style: none; margin: 0; padding: 0;}
div { font-size: 0 }

::placeholder { color: #C7C7C7; opacity: 1; }
:-ms-input-placeholder { color: #C7C7C7; }
::-ms-input-placeholder { color: #C7C7C7 }

.clear { clear: both; }

.hidden-image { display: none }

.clip-path { position: absolute; width: 0; height: 0; }

.page-container { position: relative; width: 100%; overflow: hidden; }
/*.page-container.coming-soon { height: 100vh }*/
.page-container .content-container { padding: 0 80px; z-index: 9999 }

section { width: 100%; margin-bottom: 80px; }
section .section-title h1 { white-space: nowrap; color: #7BDC68; font-size: 50px; font-family: 'Hacen Tunisia'; font-weight: bold; text-align: center; margin-bottom: 60px; }
section .section-title h1.without-margin { margin-bottom: 0 }
section .section-title p { font-family: 'Hacen Tunisia Lt'; color: #535252; font-size: 20px; text-align: center; font-weight: 400; margin-bottom: 60px; }
section .section-content { width: 100%; }


/*
    ============
     Responsive
    ============
*/
@media (max-width: 1440px) {
    section { margin-bottom: 70px; }
    section .section-title h1 { font-size: 46px; margin-bottom: 56px; }
    section .section-title p { font-size: 19px; margin-bottom: 56px; }
}

@media (max-width: 1024px) {
    section { margin-bottom: 60px; }
    section .section-title h1 { font-size: 42px; margin-bottom: 40px; }
    section .section-title p { font-size: 18px; margin-bottom: 46px; }
}

@media ( orientation: portrait ) {
    .page-container .content-container { padding: 0 60px; }
}

@media (max-width: 768px) {
    .page-container .content-container { padding: 0 60px; }

    section { margin-bottom: 50px; }
    section .section-title h1 { font-size: 38px; margin-bottom: 30px; }
    section .section-title p { font-size: 17px; margin-bottom: 40px; }
}

@media (max-width: 500px) {
    .page-container .content-container { padding: 0 40px; }

    section { margin-bottom: 40px; }
    section .section-title h1 { font-size: 34px; margin-bottom: 26px; }
    section .section-title p { font-size: 16px; margin-bottom: 30px; }
}