/*
================
    Fonts
================
*/

@font-face {
    font-family: 'Hacen Tunisia';
    font-style: normal;
    font-weight: 200;
    src: local('hacen-tunisia'), url('../fonts/hacen-tunisia.ttf') format('truetype');
}

@font-face {
    font-family: 'Hacen Tunisia';
    font-style: normal;
    font-weight: bold;
    src: local('hacen-tunisia'), url('../fonts/hacen-tunisia-bold.ttf') format('truetype');
}


/*
================
    Global
================
*/

body { margin: 0; padding: 0 }
div { direction: rtl }
h1, h2, h3, h4, h5, h6 { margin: 0 }

.page-container { position: relative; width: 100vw; overflow: hidden; }
.page-container.coming-soon { height: 100vh }
.page-container .content-container { padding: 0 80px; z-index: 9999 }
