.page-loader { margin: 70px 0; }

.lds-ellipsis-container  { display: flex; justify-content: center; align-items: center; height: 40px; width: 100% }
.lds-ellipsis-container .lds-ellipsis {transform: scale(.9); display: inline-block; position: relative; width: 80px; height: 80px; height: 14px;}
.lds-ellipsis-container .lds-ellipsis div {position: absolute; width: 13px; height: 13px; border-radius: 50%; background: #FFF; animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis-container .lds-ellipsis div:nth-child(1) {left: 8px; animation: lds-ellipsis1 0.6s infinite;}
.lds-ellipsis-container .lds-ellipsis div:nth-child(2) {left: 8px; animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis-container .lds-ellipsis div:nth-child(3) {left: 32px; animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis-container .lds-ellipsis div:nth-child(4) {left: 56px; animation: lds-ellipsis3 0.6s infinite;}

.page-loader .lds-ellipsis-container .lds-ellipsis { transform: scale(1); }
.page-loader .lds-ellipsis-container .lds-ellipsis div { background: #05A5E1 }


@keyframes lds-ellipsis1 {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes lds-ellipsis3 {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes lds-ellipsis2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(24px, 0);}
}